<% content_for :title do %>New Link<% end %>
<div class="row">
  <div class="small-6 small-centered columns">
    <h1 class="text-center">New Share Link</h1>
    <%= form_for :link, url: links_path do |f| %>
      <p>
        <%= f.label :source %><br>
        <%= f.text_field :source %>
      </p>

      <p>
        <%= f.label :comment %><br>
        <%= f.text_field :comment %>
        <%# TODO: realtime length validation for comment < 116 characters %>
      </p>

      <p>
        <%= f.label :title %><br>
        <%= f.text_field :title %>
      </p>

      <%# TODO: Add switches using class: 'switch radius' to select Twitter or FB %>

      <p>
        <%= f.submit class: 'button' %>
      </p>
    <% end %>
  </div>
</div>
