<% content_for :title do %>New Link<% end %>
<div class="row">
  <div class="small-12 medium-8 small-centered columns">
    <h1 class="text-center">Social Share Links</h1>
    <%= form_for :link, url: links_path do |f| %>
      <p>
        <%= f.label :source %>
        <%= f.text_field :source %>
      </p>

      <p>
        <%= f.label :comment %>
        <%= f.text_field :comment %>
        <em id="comment-length">116 Characters Left</em>
      </p>

      <p>
        <%= f.label :title %>
        <%= f.text_field :title, value: "Tweet This" %>
        <em>For HTML Anchor Link Only</em>
      </p>

      <p>
        <%= f.submit class: 'button' %>
      </p>
    <% end %>
  </div>
</div>
